@inherits LayoutComponentBase

<FluentMainLayout NavMenuTitle="Navigation menu">
    <Header>Abp Tools</Header>
    <Body>
        @Body
    </Body>
    <NavMenuContent>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Home</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Add())" Href="counter">Counter</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.TimeAndWeather())" Href="weather">Weather</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.LockClosedKey())" Href="string-encryption">字符串加解密</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.TagLock())" Href="base64-encryption">Base64加解密</FluentNavLink>
    </NavMenuContent>
</FluentMainLayout>