<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Custom navigation menu">
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Home</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Add())" Href="counter">Counter</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.TimeAndWeather())" Href="weather">Weather</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.LockClosedKey())" Href="string-encryption">字符串加解密</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.TagLock())" Href="base64-encryption">Base64加解密</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.ArrowSync())" Href="large-json-file-formatter">大Json文件格式化</FluentNavLink>
    </FluentNavMenu>
</nav>


